.oponents {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
}

.oponents li {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}


.table {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.table * {
  height: 8em;
  margin: 1px;
  //TODO change when all card sizer are the same
}


// .blank_cards {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .enemy {
//     display: flex;
//     flex-direction: row;
// }

// .blank_cards img {
//     height: 5rem;
//     width: 2rem;
// }
