.oponents {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  height: calc(calc(100% - 50px) / 3);
}

.oponents li {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.table {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(calc(100% - 50px) / 3);
}

.table li {
  height: 100%;
}

.table * * {
  max-height: 100%;
  max-width: 100%;
  margin: 1px;
}

.play-buttons{
  display: flex;
  flex-direction: column;
}